.DS_STORE
*.orig
*.class
*.jar
*.ext
*.bin
*.bak
*.db
*.exe

# Gradle
.gradle
build/
bin/
!gradle-wrapper.jar

# Eclipse
.classpath
.project
.settings
.launches
test-output/*
build-eclipse/
.checkstyle
.eclipse-pmd
.tern-project

# Intellij
/.idea/
*.iml
/out/
/.stylelintrc.yml
